:root{

  --main-black: #16161D;
  --accent-black: #2C2C3A;

  --main-white: #f7f7f7;
  --accent-white: #c4c4c4;

  --primary-dark: #571494;
  --primary-main: #8A2BE2;
  --primary-light: #BC86EE;

  --secodary-dark: #B38A0A;
  --secondary-main: #F4C430;
  --secondary-light: #F9DF90;


  --heading: 13vw;

  --rotate: rotate 7s linear infinite;

}

/* Normalize */
*{
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
}


/* Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}