.navbar {
  padding: var(--navigation-padding);
  background-color: var(--main-white);
  border-radius: var(--border-rad);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuOptions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
}
.menuRoutes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}
.menuLink {
  padding: 0.35rem 1.5rem;
  color: var(--main-black);
  border-radius: var(--border-rad);
  transition: var(--transition-out);
}
.menuLink:hover {
  transition: var(--transition-in);
  color: var(--primary-main);
}
.menuLinkCurrent {
  color: var(--main-black);
  background-color: var(--main-grey);
  padding: 0.35rem 1.5rem;
  border-radius: var(--border-rad);
  transition: var(--transition-out);
}
.menuLinkCurrent:hover {
  background-color: var(--main-white);
  color: var(--secondary-main);
  transition: var(--transition-in);
}

.mobileNavButton {
  padding: 0.75rem;
  border: none;
  cursor: pointer;
  background-color: var(--primary-main);
  color: var(--secondary-main);
  transition: var(--transition-out);
  display: none;
  border-radius: var(--border-rad);
}
.mobileNavButton:hover {
  transition: var(--transition-in);
  background-color: var(--secondary-main);
  color: var(--primary-main);
}
.asideMenu {
  display: none;
  position: fixed;
  background-color: var(--accent-white-lite);
  width: 250px;
  height: 100svh;
  top: 0;
  z-index: 3;

  padding: 1rem;
}
.isOpen {
  right: 0;
  transition: var(--transition-out);
}
.asideMenu div {
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
}
.asideMenu div a {
  font-size: var(--highlight);
  color: var(--primary-main);
  font-weight: 600;
  text-align: right;
}
.isClosed {
  right: -250px;
  transition: var(--transition-out);
  padding: 0;
}

@media (max-width: 1100px) {
  .asideMenu {
    display: block;
  }

  .navbar {
    padding: var(--navigation-padding-tablet);
  }

  .menuOptions{
    display: none;
  }

  .mobileNavButton {
    display: inline;
  }
}

@media (max-width: 750px) {
  .navbar {
    padding: var(--navigation-padding-mobile);
  }

  .navbar ul {
    display: none;
  }

  .mobileNavButton {
    display: inline;
  }
}
